* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
  max-width: 800px;
}
body {
  background-color: rgb(0, 0, 0);

  color: #fdfcfc;
}
.header {
  width: 100%;
  height: 40px;
  position: fixed;

  background-color: black;
  box-shadow: 0px 20px 20px black;
}

.header__nav__liste {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main {
  padding: 100px 30px 0px 15px;
}
.main__article__headline {
  display: flex flex;
  flex-direction: row;
}
.main__pic {
  max-width: 400px;
  height: auto;
}

a {
  text-decoration: none;
  color: #ddb8b8;
}
.main__textbox {
  display: flex;
  flex-direction: column;
}
.main__span {
  font-size: 80px;
  font-weight: 800;
}
.contact {
  display: flex;

  align-items: center;
  padding: 15px 0px;
}
.contact__h2 {
  writing-mode: vertical-rl;
  padding: 0px 25px;
}
.contact__liste {
  display: flex;
  flex-direction: column;
}
.skillset {
  display: flex;
  margin-bottom: 30px;
}
.skillset__liste {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.skillset__h2 {
  writing-mode: vertical-rl;
  padding: 0px 25px;
}
.skillset img {
  max-height: 50px;
}
.aboutMe {
  padding: 20px 0px;
}
