* {
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: azure;
  text-align: center;
}
h1,
h2 {
  background-color: lightblue;
}
img {
  width: 100%;
  height: auto;
}
.navbutton {
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
